{% extends "layout.html" %}
{% block body %}

    <h2>Home Page</h2>
    
    <div id="addHere">
        {% for message in messages %}
        <div id="tweets">
            <div class='content'>
                <div class="row">
                    <div class="col">
                            <strong><a class="name" href="{{url_for('user_profile', username=message.user.username)}}">
                                {{ message.user.username}}</a></strong>
                            
                    </div>
                    <div class="col-time">{{ message.published_at.strftime('%d-%m-%Y %H:%M') }}
                    </div>
                            
                </div>
                <p class="status"> {{ message.content }}</p>
                <div class="row">
                    <div class="col">
                        {% if message.is_a_likers(user=user) %}
                            <form action="{{url_for('dislike', content=message.id)}}" method="post">
                                {{ message.like() | length }}<input type="submit" value="Unlike">
                            </form>
                        {% else %}
                            <form action="{{url_for('like', content=message.id)}}" method="post">
                                {{ message.like() | length }}<input type="submit" value="Like">
                            </form>
                        {% endif %}
                    </div>
                    <div class="col">
                        <form action="" method="post">
                            <input type="submit" value="Comment">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <a href="#" id="loadMoreBtn" data-id=2>Load More</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $('#loadMoreBtn').on('click', function(){
            self=$(this)
            init_page = self.attr('data-id')

            $.get('/loadMore/'+init_page, function(response){
                console.log(response)
                if($.isEmptyObject(response))
                    $('#loadMoreBtn').html('tidak ada tweet lagi..').delay(200).fadeOut()
                else
                    $.each(response, function(key, item){
                        $('#addHere').append("<div id='tweets'>"+"<div class='content'>"+"<div class='row'>"+"<div class='col'>"+"<strong>" + 
                                                "<a class='name' href=/user/'" + item.username +"'>"+ item.username +"</a>"+"</strong>"+ 
                                                "</div>"+"<div class='col-time'>"+item.time + "</div>" + "</div>" +
                                                "<p class='status'>" + item.content + "</p>" + "<div class='row'>"+
                                                "<div class='col'>" + "<form action='' method='post'>" + "<input type='submit' value='Like'>"+
                                                "</form>"+"</div>"+"<div class='col'>"+"<form action='' method='post'>"+
                                                "<input type='submit' value='Comment'>"+"</form>"+"</div>"+"</div>" + "</div>" + "</div>")


                        self.attr('data-id', parseInt(init_page)+1)
                    })
            })
        })
    </script>

{% endblock %}