<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK Mini Twitter</title>
</head>
<body>

    <h1>Mini Twitter</h1>

    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}

    {% if not session.logged_in %}

        <a href="{{url_for('register')}}">Register</a>
        <a href="{{url_for('login')}}">Log in</a>
    {% else%}
        <a href="{{url_for('logout')}}">Log out</a>
    {% endif %}
    <hr>

    {% block body %} {% endblock %}


</body>
</html>