<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK Mini Twitter</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

    <header>

    

        <h1><a href="/"> Mini Twitter </a></h1>

        <div class="menu"> 
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}

            {% if not session.logged_in %}

                <a href="{{url_for('register')}}">Register</a>
                <a href="{{url_for('login')}}">Log in</a>
            {% else%}
                <a href="{{url_for('new_tweet')}}">New Tweet</a>
                <a href="{{url_for('user_profile', username=session.username)}}">Profile</a>
                <a href="{{url_for('logout')}}">Log out</a>
            {% endif %}
        </div>
    </header>
        
        {% block body %} {% endblock %}
    

</body>
</html>