{% extends "layout.html" %}
{% block body %}

    <div id="flexy">
        <div class="">
            <h2>Profile {{ username }}</h2>

            {% if user.username != session.username %}
                {% if session.logged_in %}
                    {% if active_user.is_following(user) %}
                        <form action="{{url_for('user_unfollow', username=user.username)}}" method="post">
                            <input type="submit" value="-Unfollow">
                        </form>
                    {% else %}
                        <form action="{{url_for('user_follow', username=user.username)}}" method="post">
                            <input type="submit" value="+Follow">
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="">

            <a href="{{url_for('show_follower', username=user.username)}}">Followers : {{ user.follower() | length }} </a> <br> 
            <a href="{{url_for('show_following', username=user.username)}}">Following : {{ user.following() | length }}</a> 

        </div>
    </div>
    <hr>

    {% for message in messages %}
        <p> {{ message.content }}</p>

    {% endfor %}

{% endblock %}